//
   Created by Jun on 3/12/16.

extends ../layout

block content
    h1= title
    p Welcome to #{title}
    h1 Your Tasks

    - if (docs.length)
        table
            tr
                th Task
                    each task in docs
                        tr
                            td #{task.task}
                            td
                                a.btn(href="/tasks/" + task.id + "/edit") Edit
                            td
                                form(method='post', action='/tasks/' + task.id + '?_method=DELETE')
                                    button.btn.btn-danger(type='submit',name="remove_task") Delete
    - else
        p You don't have any tasks!
    p
        a(href='/tasks/new', class='btn primary') Add a Task
    #confirm-delete.modal.fade(tabindex="-1",role="dialog",aria-labelledby="myModalLabel",aria-hidden="true")
        .modal-dialog
            .modal-content
                .modal-header
                    a.close(href="#",data-dismiss="modal",aria-hidden="true") ×
                    h3 请确认
                .modal-body
                    p 确实删除该记录吗？
                .modal-footer
                    button.btn.btn-default(type="button", data-dismiss="modal") 取消
                    a#delete.btn.btn-danger.btn-ok(data-dismiss="modal") 删除记录
    script(type='text/javascript').
        $('button[name="remove_task"]').off('click').on('click', function (e) {
            var $form = $(this).closest('form');
            e.preventDefault();
            $('#confirm-delete').modal({backdrop: 'static', keyboard: false})
                    .one('click', '#delete', function (e) {
                        $form.trigger('submit');
                    });
        });
